<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/report.css">
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="dcsp_logo">
					<img src="{{ STATIC_URL }}/img/dcsp_logo.jpg" width="100px"  height="80px">
				</div>
				<div id="title">
					DMMA COLLEGE OF SOUTHERN PHILIPPINES <br/>
					(Formerly Davao Merchant Marine Academy) <br/>
					Tigatto Road, Buhangin, Davao City, 8000 <br/>
					Philippines
				</div>
				<div id="dnv_logo">
					<img src="{{ STATIC_URL }}/img/dnv_logo.jpg" width="100px"  height="80px">
				</div>
				<div style="clear: both"></div>

				{% block header %}
				{% endblock header %}
			</div>
			{% block body %}
			{% endblock body %}

			<div id="footer">
				<!-- this is most likely to be signature -->
				<div id="prepared-by">
					<p>
					Prepared by:<br/><br/>
					<b>JACINTA P. SARINO</b><br/>
					<i>Scheduling Officer</i>
					</p>
				</div>

				<div id="noted-by">
					<p>
					Noted by: <br/><br/>
					<div id='noted-by-signature'>
						<b>VICENTE C. VIRTUDAZO</b><br/>
		                <i>Training Director</i>
	                </div>
				</div>
			</div>
			{% block footer %}
			{% endblock footer %}
		</div>
	</body>
</html>