{% extends "training_load_report.html" %}
{% load template_tag %}

{% block body %}
<div id='course'>BASIC TRAINING</div>
<div id='batch'>BATCH NO. <span>{{ batch_number }}</span></div>

<table id='basic-training' border='1'>
<thead>
		<th>DAY/DATE</th>
		<th>TIME</th>
		<th>MODULE</th>
        <th>INSTRUCTOR</th>
</thead>
<tbody>
	{% for date, occurrences in events  %}
		<tr>
			<td>Day-{{ forloop.counter }} ({{ date|date:"D" }}.)<br/><br/>
				{{ date }}
			</td>
			<td>{% for time_slot in occurrences|make_list:'start_end_time'|remove_duplicate %}{{ time_slot }}<br/>
				{% endfor %}</td>
			<td>{% for module in occurrences|make_list:'event.get_class.module'|remove_duplicate %}{{ module }}<br/>{% endfor %}
			</td>
			<td>{% for instructor in occurrences|make_list:'event.get_class.instructor'|remove_duplicate %}{{ instructor }}<br/>{% endfor %}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
{% endblock body %}

