{% extends "report_filter.html" %}
{% load template_tag %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/daterangepicker-bs3.css">
{% endblock extra_head %}
{% block body %}
	<!-- REPORT FILTER FORM -->
	<h1>Report Filter</h1>
	  <form action="{% url 'faculty-load-filter' %}" method="post">
	  <div class='form-group'>
			<div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;">
			  <i class="glyphicon glyphicon-calendar icon-calendar"></i>
			  <span>
			  	{% if start_date and end_date %}
				    {{ start_date }} - {{ end_date }}
				    {% else %}
				    Date Range
			    {% endif %}
			  </span>
			</div>
			<div style='clear: both'></div>
		</div>

	    {% csrf_token %}
	    {% for field in form %}
	    	{% if field.is_hidden %}
	    		{{ field }}
	    	{% else %}
			<div class="form-group">
			    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			    {{ field.errors }}
			    {{ field }}
			  </div>
	    	{% endif %}
		{% endfor %}    
	    <input class="btn btn-default" type="submit" value="Submit" />
	  </form>
	<!-- END REPORT FILTER FORM -->

	{% if occurrences %}
	<!-- DISPLAY OCCURRENCE OF EVENTS/CLASS -->
	<table class="table table-bordered table-hover" id='basic-training' border='1' style='margin-top: 20px;'>
	<thead>
			<th>Name of Instructors &amp; <br/>Signature</th>
			<th>Course &amp; Batch No.</th>
			<th>Date</th>
			<th>Time</th>
			<th>No. of hours</th>
	</thead>
	<tbody>
	<tr>
		<td>{{ instructor }}</td>
		<td style='text-align: left'>
			{% for occurrence in occurrences %}
				{{ occurrence.event.get_class.faculty_load_format }}<br/>
			{% endfor %}
		</td>
		<td>
			{% for occurrence in occurrences %}
				{{ occurrence.start.date }}<br/>
			{% endfor %}
		</td>
		<td>
			{% for occurrence in occurrences %}
				{{ occurrence.start_end_time }}<br/>
			{% endfor %}
		</td>
		<td>
			{% for occurrence in occurrences %}
				{{ occurrence.start|hours:occurrence.end }}<br/>
			{% endfor %}
		</td>
	<tr>
	<tr>
		<td colspan='4' style='text-align: right; padding-top: 50px;'><b>Total</b></td>
		<td style="padding-top: 50px;"><b>{{ total_hours }}</b></td>
	</tr>
	</tbody>
	</table>
	{% endif %}
	
	{% if occurrences %}
	<div class='pull-right'>
	<form action="{% url 'faculty-load-filter' %}" method='POST'>
		{% csrf_token %}
		<input type='hidden' value='{{ start_date }}' name='start_date' />
		<input type='hidden' value='{{ end_date }}' name='end_date' />
		<input type="hidden" value="{{ instructor.id }}" name="instructor" />
		<input type='hidden' value='true' name='report' />
		<button class="btn">Print</button>
		<button class="btn">Export to xlsx</button>
	</form>
	</div>
	{% endif %}
	<!-- END DISPLAY OCCURRENCE OF EVENTS/CLASS -->

{% endblock body %}


{% block extra_body %}

	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/daterangepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom-daterangepicker.js"></script>
	<script type="text/javascript">
		$(function (){
			$('input#id_start_end_date').daterangepicker();
			// $('input#id_end_date').datepicker(options);
			// body...
		})
	</script>
{% endblock extra_body %}