{% extends 'faculty_load_report.html' %}
{% load template_tag %}


{% block body %}
<div>Date Prepared: May 2, 2015</div>	{% if occurrences %}
<!-- DISPLAY OCCURRENCE OF EVENTS/CLASS -->
<table class="table table-bordered table-hover" id='basic-training' border='1' style='margin-top: 20px;'>
<thead>
		<th>Name of Instructors &amp; <br/>Signature</th>
		<th>Course &amp; Batch No.</th>
		<th>Date</th>
		<th>Time</th>
		<th>No. of hours</th>
</thead>
<tbody>
<tr>
	<td>{{ instructor }}</td>
	<td style='text-align: left'>
		{% for occurrence in occurrences %}
			{{ occurrence.event.get_class.faculty_load_format }}<br/>
		{% endfor %}
	</td>
	<td>
		{% for occurrence in occurrences %}
			{{ occurrence.start.date }}<br/>
		{% endfor %}
	</td>
	<td>
		{% for occurrence in occurrences %}
			{{ occurrence.start_end_time }}<br/>
		{% endfor %}
	</td>
	<td>
		{% for occurrence in occurrences %}
			{{ occurrence.start|hours:occurrence.end }}<br/>
		{% endfor %}
	</td>
<tr>
<tr>
	<td colspan='4' style='text-align: right; padding-top: 50px;'><b>Total</b></td>
	<td style="padding-top: 50px;"><b>{{ total_hours }}</b></td>
</tr>
</tbody>
</table>
{% endif %}

<div>Note: Please secure IG and TCROA before the training schedule.</div>

{% endblock body %}
