{% extends "base.html" %}


{% load i18n staticfiles %}

{% block head_title %}{% trans "Fullcalendar" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" />
{% endblock %}

{% block body %}
<div id="calendar"></div>
<script type='text/javascript'>
$(document).ready(function() {

    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/scheduler/api/occurrences?calendar_slug=mtac',
      header : {
	      right: 'today prev,next basicDay basicWeek month'
      },
      businessHours: {
	    start: '08:00', // a start time (10am in this example)
	    end: '17:00', // an end time (6pm in this example)

	    dow: [ 1, 2, 3, 4, 5 ]
	    // days of week. an array of zero-based day of week integers (0=Sunday)
	    // (Monday-Thursday in this example)
	  }
    })

});
</script>

<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>

{% endblock %}
