{% extends "base.html" %}
{% load template_tag %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/daterangepicker-bs3.css">
{% endblock extra_head %}
{% block body %}
	<!-- REPORT FILTER FORM -->
	<h1>Report Filter</h1>
	  <form action="{% url 'report-filter' %}" method="post">
	  <div class='form-group'>
			<div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;">
			  <i class="glyphicon glyphicon-calendar icon-calendar"></i>
			  <span>
			  	{% if start_date and end_date %}
				    {{ start_date }} - {{ end_date }}
				    {% else %}
				    Date Range
			    {% endif %}
			  </span>
			</div>
			<div style='clear: both'></div>
		</div>

	    {% csrf_token %}
	    {% for field in form %}
	    	{% if field.is_hidden %}
	    		{{ field }}
	    	{% else %}
			<div class="form-group">
			    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
			    {{ field }}
			  </div>
	    	{% endif %}
		{% endfor %}    
	    <input class="btn btn-default" type="submit" value="Submit" />
	  </form>
	<!-- END REPORT FILTER FORM -->

	<!-- DISPLAY OCCURRENCE OF EVENTS/CLASS -->
	<table class="table table-bordered table-hover" id='basic-training' border='1' style='margin-top: 20px;'>
	<thead>
			<th>DAY/DATE</th>
			<th>TIME</th>
			<th>MODULE</th>
	        <th>INSTRUCTOR</th>
	</thead>
	<tbody>
  	{% for date, occurrences in events  %}
		<tr>
			<td>Day-{{ forloop.counter }} ({{ date|date:"D" }}.)<br/><br/>
				{{ date }}
			</td>
			<td>{% for time_slot in occurrences|make_list:'start_end_time'|remove_duplicate %}{{ time_slot }}<br/>
				{% endfor %}</td>
			<td>{% for module in occurrences|make_list:'event.get_class.module'|remove_duplicate %}{{ module }}<br/>{% endfor %}
			</td>
			<td>{% for instructor in occurrences|make_list:'event.get_class.instructor'|remove_duplicate %}{{ instructor }}<br/>{% endfor %}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% if events %}
	<div class='pull-right'>
	<form action="{% url 'report' %}" method='POST'>
		{% csrf_token %}
		<input type='hidden' value='{{ batch_number }}' name='batch_number' />
		<input type='hidden' value='{{ course }}' name='course'/>
		<input type='hidden' value='{{ start_date }}' name='start_date' />
		<input type='hidden' value='{{ end_date }}' name='end_date' />
		<button class="btn">Print</button>
		<button class="btn">Export to xlsx</button>
	</form>
	</div>
	{% endif %}
	<!-- END DISPLAY OCCURRENCE OF EVENTS/CLASS -->

{% endblock body %}


{% block extra_body %}

	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/daterangepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom-daterangepicker.js"></script>
	<script type="text/javascript">
		$(function (){
			$('input#id_start_end_date').daterangepicker();
			// $('input#id_end_date').datepicker(options);
			// body...
		})
	</script>
{% endblock extra_body %}