{% extends "base_report.html" %}

{% block header %}
	<div id='sub-title'>
		<strong>TRAINING DEPARTMENT FACULTY LOAD REPORT<br/>
		(DCSP-TD-043, Rev 1, Jan. 21, 2014)</strong>
	</div>
{% endblock header %}