


div#wrapper {
	width: 670px;
}
div#header {
	width: 670px;
}
div#dcsp_logo {
	width: 100px;
	float: left;
}
div#dnv_logo {
	width: 100px;
	float: left;
}
div#title {
	width: 470px;
	margin-top: 10px;
	padding: 0;
	float: left;
	text-align: center;
}
div#sub-title {
	text-align: center;
	margin-top: 20px;
}

/* *********************** */
/* BODY 
/* *********************** */

div#course {
	margin-top: 20px;
	text-align: center;
	text-decoration: underline;
}

#batch {
	font-weight: bold;
}
#batch span {
	text-decoration: underline;
}

table#basic-training {
	border-collapse: collapse;
	border: solid 1px;
	width: 670px;
}

table#basic-training td {
	padding-left: 5pt;
}






/* *********************** */
/* FOOTER 
/* *********************** */

div#prepared-by {
	margin-left: 10px;
}

div#noted-by {
	float: right;
}

div#noted-by div#noted-by-signature {
	text-align: center;
}